/* Import font */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100,500');

/* Global */

body {
    margin: 0;
    box-sizing: border-box;
    
  }

  /* Page styling */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'roboto', sans-serif;
  }
  
  body{
    align-items: center;
    background: linear-gradient(
       #FFF1E0 ,
       #FFE0D6)
    
  }
  
  .wrapper{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
  }
  
  .order_success{
    border-radius: 5px;
    width: 600px;
    background: white;
    opacity: 75%;
    padding: 25px;
  }

  h2 {
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'roboto'
  }
  
p {
    padding-bottom: 5px;
    font-size:18px;
}

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }


td {
    width: 50%;
    padding: 20px 10px;
    border-top: 1.3px solid #9597a6;
    background: none;
    font-family: 'roboto'
}

  
  /* Button */
  .button{
    display: inline-block;
    text-align: center;
    font-size:15px;
    border-radius: 3px;
    text-transform: uppercase;
    text-underline-offset: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
    background: #1A2A89;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    color:white;
  }
  
  /* Button Hover effect */
  .button:hover{
    background: #DCDEF7;
    color: #000;
  }