<!DOCTYPE html>
<html lang="en">
    <head> <!-- Adding CSS file, page title and favicon -->
        <link rel="stylesheet" type="text/css" href="..\static\lib_reg.css" > 
        <title>BooksAreUs</title>
        <link rel="icon" type="image/x-icon" href="..\static\media\favicon3.ico">
    </head>

	<header class="header"> <!-- Header with logo and page navigation bar -->
		<a href="{{url_for('home_page')}}" class="logo"> <img class="logo-img" src="..\static\media\logo.png"></a>
		<nav class="nav-items">
		  <a href="{{url_for('home_page')}}">Home</a>
		  {% if session.email %} <!-- When user is logged in, buttons change -->
		  <a href="{{url_for('logout')}}">Logout</a>
		  {% else %}
		  <a href="{{url_for('login')}}">Log In</a>
		  {% endif %}
		  <a href="{{url_for('search')}}">Search</a>
		</nav>
	</header>

<body>
    <div class="wrapper">
    <div class="registration_form">
        <div class="title"> Librarian Registration Form</div>
            
        <form action="{{url_for('lib_reg')}}" method="post"> <!-- Form to get Librarian informatin-->
            <div class="form_wrap">
                
            <div class="input_grp">
                <div class="input_wrap">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" required="" maxlength="45">
                </div>

                <div class="input_wrap">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" required="" maxlength="45">
                </div>
            </div>

            <div class="input_wrap">
                <label for="email">Email Address</label>
                <input type="email" name="email" required="" maxlength="45">
            </div>

            <p align=center>{{ email_already_exists}}</p>

            <div class="input_wrap">
                <label for="password">Password</label>
                <input type="password" name="password" required="" maxlength="45">
            </div>

            <div class="input_wrap">
                <label for="phone">Phone Number</label> <!-- Phone no more than 10 digits-->
                <input type="number" name="phone" required="" maxlength="10" min="0" max="9999999999">
            </div>

            <div class="input_grp">
                <div class="input_wrap">
                    <label for="start_date">Employment Start Date</label>
                    <input class="text" type="date" name="start_date" required="" max="{{today_date}}">
                </div>
                
                <div class="input_wrap">
                    <label for="city">City</label>
                    <input type="text" name="city" required="" maxlength="45">
                </div>
            </div>
            
            <div class="input_grp">
                <div class="input_wrap">
                    <label for="street">Street</label>
                    <input type="text" name="street" required="" maxlength="45">
                </div>

                <div class="input_wrap">
                    <label for="house">House Number</label>
                    <input type="number" name="house" required="" maxlength="45">
                </div>
            </div>

            <div class="input_wrap"> <!-- Branches are in droplist -->
                <label for="city">Branch</label>
                <select name="branch" required="">
                    <option value="Tel Aviv - Hanehoshet 16">Tel Aviv - Hanehoshet 16</option>
                    <option value="Haifa - Hanesher 24">Haifa - Hanesher 24</option>
            </div>
            </div>

            <div class="input_wrap">
                <input type="submit" value="Register Now" class="submit_btn">
            </div>
            </div>      
        </form>
    </div>
    </div>
     <br>
</body>

