<!DOCTYPE html>
<html lang="en">

	<head> <!-- Adding CSS file, page title and favicon -->
		<link rel="stylesheet" type="text/css" href="..\static\ordered_books_list.css" > 
		<title>BooksAreUs</title>
		<link rel="icon" type="image/x-icon" href="..\static\media\favicon3.ico">
	</head>

	<header class="header"> <!-- Header with logo and page navigation bar -->
		<a href="{{url_for('home_page')}}" class="logo"> <img class="logo-img" src="..\static\media\logo.png"></a>
		<nav class="nav-items">
		  <a href="{{url_for('home_page')}}">Home</a>
		  {% if session.email %} <!-- When user is logged in, buttons change -->
		  <a href="{{url_for('logout')}}">Logout</a>
		  {% else %}
		  <a href="{{url_for('login')}}">Log In</a>
		  {% endif %}
		  <a href="{{url_for('search')}}">Search</a>
		</nav>
	</header>

	<main>
	 	<div class="results">
			<h2>ordered books list:</h2>
	  	</div>
		
		<table>
			<thead class="table-fill"> <!--Table headers-->
			  <tr>
				<th>Book Name</th>
				<th>Start Collection Date</th>
				<th>Final Collection Date</th>
				<th>Branch</th>
				<th>Ready for pickup?</th>
			  </tr>
			</thead>

		<!--if book is available for pick up-->
			{% if waiting_for_you %}
				<tbody class="table-hover">
				{% for row in waiting_for_you %} <!--for loop to get information about books-->
				<tr>
					<td class="line">{{row[0]}}</td> <!--gets book name-->
					<td class="line">{{row[1]}}</td> <!--gets start collection date-->
					<td class="line">{{row[2]}}</td> <!--gets final collection date-->
					<td class="line">{{row[3]}}</td> <!--gets branch info-->
					<td class="yes">Yes</td> <!--marked as ready for pickup-->
				</tr>
				{% endfor %}

			<!--if no ordered book is available for pick up-->
				{% elif still_not_return %}

				{% for row in still_not_return %} <!--for loop to get information about books-->
				<tr>
					<td class="line">{{row[0]}}</td> <!--gets book name-->
					<td class="line">{{row[1]}}</td> <!--gets start collection date-->
					<td class="line"></td> <!--Has no final collection date yet -->
					<td class="line">{{row[2]}}</td> <!--gets branch info-->
					<td class="no">No</td> <!--marked as not ready for pickup-->
				</tr>
				{% endfor %}
				
				{% else %}

				<td class="line-text-center" colspan="5"><h3> you have not ordered any book yet.</h3></td> <!--gets branch info-->

			{% endif %}
			</tbody>
		</table>
			
		<div class="button">
		<a href="{{url_for('home_page')}}">Back To Home Page</a>
		</div>

	</main>

	<footer class="footer"> <!--Footer with copyrights, branches info and home link-->
		<div class="copy">&copy; 2022 Group 24 : Yarden, Maayan, Noa</div>
		  <div class="bottom-links">
			<div class="links">
			  <span>Visit Us</span>
			  <p>Haifa - Hanesher 24, tel: 0864555555</p>  
			  <p>Tel Aviv - Hanehoshet 16, tel: 0364888888</p>
			</div>
		  </div>
		  <div class="bottom-links">
			<div class="links">
			  <span>Quick Access</span>
			  <a href="{{url_for('home_page')}}">Home</a>
			</div>
		  </div>
	</footer>
</html>